---
import { getCollection } from "astro:content";
import Layout from "../../layouts/PageLayout.astro";
import Card from "../../components/Card.astro";

const blogEntries = await getCollection("blog");
---

<Layout page="blog" title="Blog | AvieraDEV">
  <section class="min-h-screen md:w-[70%] px-6 md:px-0 m-auto pt-20">
    {
      blogEntries.map((entry) => {
        return (
          <Card
            title={entry.data.title}
            preview={entry.data.preview}
            img={entry.data.image}
            publishDate={new Date(entry.data.publishDate).toLocaleDateString()}
            slug={entry.slug}
          />
        );
      })
    }
  </section>
</Layout>
